<div class="container">
  <div class="row" style="width: 100%">

    <div class="card text-center" style="width: 100%; background-color: #afc6a0;">
      <h3
      style="width: 100%; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;margin-top: 10px;"
      >Cuestionarios definidos
      </h3>

      <app-loading *ngIf="loading" style="padding-bottom: 10px"></app-loading>

      <h4 *ngIf="listCuestionarios.length == 0 && loading == false">
        No hay cuestionarios definidos
      </h4>
    </div>
    <br/>

    <div class="col-lg-12">
      <div class="row" style="margin-top: 30px">
        <div class="col-lg-3" *ngFor="let cuestionario of listCuestionarios">
          <div class="card-List" style="margin-left: 10px; margin-bottom: 10px; margin-right: 10px;">
            <div class="card bg-light">
              <div class="card-body text-center">
                <h4 class="card-title">{{ cuestionario.nombre }}</h4>
                <p class="card-text">{{ cuestionario.descripcion }}</p>
                <div style="font-size: 14px;">
                  <strong>Creador: {{ cuestionario.usuario.nombreUsuario | uppercase  }}</strong>
                </div>
                <div style="font-size: 14px;">
                  <strong>Creación: {{ cuestionario.fechaCreacion | date: "dd/MM/yy" }}</strong>
                </div>
              </div>
            </div>
            <button
              class="btn btn-success btn-ing"
              (click)="ingresarNombre(cuestionario.id)"
            >Ingresar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <button
        class="btn btn-secondary btn-lg"
        style="margin-bottom: 20px"
        routerLink="/inicio"
      >
        Volver
      </button>
    </div>
  </div>
</div>
