.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ing{
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 100px;
  background-color: #F05F44;
  border-color: #F05;
  color: white;
}

.scrollable-content {
  max-height: 500px; /* Ajusta esta altura según tus necesidades o el diseño de tu página */
  overflow-y: auto; /* Esto habilitará el desplazamiento vertical cuando el contenido exceda la altura máxima */
}

/* Personaliza todo el scrollbar */
.scrollable-content::-webkit-scrollbar {
  width: 5px; /* Controla el ancho del scrollbar, ajusta este valor para hacerlo más fino */
}

/* Personaliza el track del scrollbar (la parte que el thumb se desplaza) */
.scrollable-content::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
}

/* Personaliza el thumb del scrollbar (la parte que mueves) */
.scrollable-content::-webkit-scrollbar-thumb {
  background: #888; /* Color de fondo del thumb */
}

/* Cambia el color del thumb al pasar el mouse sobre él */
.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de fondo del thumb al pasar el mouse */
}


