

.btnFinalizar{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

hr{
    width: 45 rem;
    margin: 10px;
    margin-top: auto;
    margin-left: 30px;
}

.material-icons {
    float: right;
}

.list-group-item {
    padding: .20rem;
    padding-left: 20px;
}